@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);
@import url(https://fonts.googleapis.com/css?family=Sonsie+One);

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  font:14px/1.5 Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#777;
  font-weight:300;
}

h1 {
  font: 28px/1.1 'Sonsie One', 'Lato', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color:#222;
  margin:0;
}


.wrapper {
  padding: 0;
  width:860px;
  margin:0 auto;
  text-align: center;
  position: relative;
  height:3em;
  top: 50%;
  margin-top: -1.5em;
}

a {
  color:#39c;
  font-weight:400;
  text-decoration:none;
}
